<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztc.springB.dao.UserMapper">
 <resultMap id="BaseResultMap" type="com.ztc.springB.model.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="CHAR" />
  </resultMap>
    <select id="getList" resultMap="BaseResultMap">
         select * from user 
     </select>
    <select id="insertList" resultType="java.lang.Integer" parameterType="java.util.Map">
        INSERT INTO user
        (id, name)
        VALUES
        <foreach collection="map.keys" item="key" index="value" separator=",">
            ( ${map[key]},#{key})
        </foreach>
    </select>

    <insert id="insertUser" parameterType="com.ztc.springB.model.User">
        INSERT INTO test.`user`
            (id, name, create_time)
            VALUES(#{id}, #{name}, #{create_time})
    </insert>
</mapper>